$BACKGROUND-COLOR: #1C2237;
$HEADER: #141A2E;
$SIDEBAR: #212943;
$SIDEBAR-ALTERNATE: #232B47;
$SIDEBAR-ALTERNATE-ODD: #212943;
$ERROR: #FE2F33;
$WARN: #FECB2F;
$CONTENT-BACKGROUND: #F9F9F9;
$TEXT-HIGHLIGHT: #6E7893;
